* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: serif;
}

form {
  border: 1px dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Establece la altura del formulario al 100% del viewport height */
  margin: 10px;
}
